html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**/
body {
}

body .if-not-authed, body[data-user-id] .if-authed     { display: block; }
body .if-authed,     body[data-user-id] .if-not-authed { display: none; }

body.landing {
}
body {
  min-height: 100vh;
}
body.landing header { display: none; }
body.landing {
  background-image: url(/img/angel.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
body.landing .band {
  width: 100vw;
  position: relative;
}
body.landing .band.header {
  height: 30vh;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
body.landing .band.header h1 {
  font-family: sans-serif;
  font-size: 36pt;
  text-align: center;
  line-height: 30vh;
}
body.landing .band.header h1 span {
  color: yellow;
}
body.landing .band.search {
  height: 80vh;
}
body.landing .search input {
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  font-size: 24pt;
  background-color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
}
body.landing .search > input::placeholder { color: yellow; opacity: 0.9; }

body.landing .features {
  min-height: 60vh;
  background-color: #5A0089;
  display: flex;
}
body.landing .features > div {
  width: 33.3333%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-family: sans-serif;
}
body.landing .features > div:nth-child(2n) {
  background-color: rgba(0,0,0,0.35);
}
body.landing .features > div span {
  height: 15vw;
  width: 15vw;
  display: block;
  background-color: #fff;
  border-radius: 100%;
  margin: 4vw auto;
}
body.landing .features > div h2 {
  font-size: 24pt;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2pt;
}
body.landing .features > div p {
  line-height: 1.5em;
  width: 70%;
  margin: 2em auto;
  text-align: justify;
}

.band.login {
  min-height: 60vh;
  display: flex;
  font-family: sans-serif;
}
.band.login > div,
.band.login > form {
  padding: 40px;
  box-sizing: border-box;
}
.band.login > div {
  width: 40vw;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
.band.login h1 {
  font-size: 24pt;
  font-weight: lighter;
  line-height: 48pt;
}
.band.login > div p {
  line-height: 1.2em;
  text-align: justify;
  margin: 1em 0;
}
.band.login > form {
  width: 60vw;
  background-color: rgba(255,255,255,0.7);
}
.band.login .oops {
  margin: 0;
  width: 30vw;
  box-sizing: border-box;
}
.band.login > form input {
  font-size: 24pt;
  background-color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;

  width: 30vw;
  margin: 0.5em 0;
  display: block;
  box-sizing: border-box;
}
.band.login > form button {
  font-size: 18pt;
  background-color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;

  margin: 0.5em 0;
  display: block;
}
.band.login > div form input {
  outline: 0;
  height: 42px;
  background: #fff;
  border: 1px solid black;
  border-radius: 8px 0 0 8px;
  font-size: 14pt;
  margin: 0;
  box-sizing: border-box;
  padding-left: 0.5ex;
}
.band.login > div form button {
  font-size: 14pt;
  border: none;
  border-radius: 0 8px 8px 0;
  height: 40px;
  margin: 0;
  box-sizing: border-box;
  background: paleturquoise;
  color: #000;
  font-weight: bold;
}

.band.footer {
  min-height: 30vh;
  background-color: #fff;
  color: #777;
}
.band.footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 30vh;
  list-style: none;
}
.band.footer nav li {
  margin: 0 0.75em;
}
.band.footer nav li a {
  text-decoration: none;
  color: inherit;
}
.band.footer nav li a:hover {
  border-bottom: 1px dotted slateblue;
}

/* for chrome */
button:focus, input:focus { outline: 0; }

body.landing .landing footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(255,255,255,0.6);
}
body.landing .landing footer nav {
  display: flex;
  justify-content: center;
  list-style: none;
}
body.landing .landing footer nav li {
  margin: 0.7em 1em;
  font-family: sans-serif;
  font-size: 9pt;
  color: #777;
}
body.landing .landing footer nav li a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
  border-bottom: 1px dotted darkblue;
}

header {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: space-between;

  box-shadow: 2px 3px 17px #000;
}
header h1 {
  padding: 16px;
  text-indent: -5000px;
  background-image: url(../vcb.png);
  background-size: cover;
  width: 160px;
  height: 73px;
  padding: 0;
  margin: 8px 0 0 16px;
}
header > nav {
  list-style: none;
  display: flex;
}
header > nav > li {
  align-self: flex-end;
}
header > nav > li:hover {
    background-color: forestgreen;
}
header > nav > li > a {
  display: block;
  padding: 16px;
}
header li nav {
  display: none;
  position: absolute;
  right: 0;
  background-color: #444;
  box-shadow: 5px 5px 5px #666;
}
header > nav > li:hover > nav {
  display: block;
  z-index: 500;
}
header nav a {
  text-decoration: none;
  color: inherit;
}
header nav li nav li.separator {
  height: 1px;
  background-color: #fff;
  margin: 8px 0;
  opacity: 0.4;
}
header nav li nav li a {
  padding: 12px 24px;
  display: block;
}
header nav li nav li:hover {
  background-color: #000;
  color: yellow;
}
header input {
  margin: 1em;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 8px;
  flex: auto;
  height: 1.2em;
  vertical-align: middle;
}
.meta-results {
  width: 97vw;
  margin: 16px auto;
  color: #777;
  font-style: italic;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  margin: 8px auto;
}
.grid.results > span {
  position: relative;
}
.grid.results > span .card {
  width: 18vw;
  height: 25.14vw;
  margin: 0.69vw;
  border-radius: 0.9vw; /* chop off some of the terrible backgrounds */
  overflow: hidden;
  display: inline-block;
}
.grid.results > span .card.face {
  transform: rotate(5deg);
  cursor: pointer;
}
.grid.results > span .back {
  position: absolute;
}
.grid.results > span[data-own="0"] .card.back img {
  visibility: hidden;
}
.grid.results .card img {
  width: 100%;
}
.modal-bg,
.modal-fg {
  position: fixed;
  top: 0px; left: 0px; width: 100vw; height: 100vh;
  display: none;
}
.modal-bg {
  background-color: rgba(0,0,0, 0.7);
  z-index: 100;
}
.modal-fg {
  z-index: 110;
}
.modal-fg img {
  height: 80%;
  transform: rotate(5deg) translate(100px, 100px);
  border-radius: 4%; /* chop off some of the terrible backgrounds */
  border: 4px solid #fff;
  z-index: 5;
}
.modal-fg > div {
  background-color: #fff;
  display: block;
  position: fixed;
  top:  20vh; height: 60vh;
  left: 15vw; width:  35vw;
  z-index: 110;
  padding: 24px 24px 24px 35vw;
  border-radius: 12px;
}
.modal-fg a.close {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 100%;
  font-family: sans-serif;
  text-align: center;
  height: 32px;
  width: 32px;
  display: block;
  line-height: 34px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.modal-fg div h1 {
  font-size: 180%;
  font-family: sans-serif;
  font-weight: bold;
}
.modal-fg div.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -5;
}
.modal-fg .detail .where {
  flex-grow: 1;
  flex-basis: auto;
}
.modal-fg .detail .tags {
  display: flex;
  flex-flow: row wrap;
}

.modal-fg .detail {
  font-size: 14pt;
}
.modal-fg .detail ul {
  margin: 0 0 1em 0;
}

.modal-fg .detail .tags li {
  background-color: #ba1fba;
  border-radius: 4px;
  padding: 4px 8px;
  color: #fff;
  font-size: 90%;
  font-family: monospace;
  font-weight: bold;
  margin: 2px;
}
.modal-fg .detail .price {
  font-size: 48pt;
  align-self: flex-end;
  font-family: sans-serif;
  font-weight: bold;
  color: #888;
}



.edit-collection {
  padding: 5vh 10vw;
}
.edit-collection h2 {
  font-size: 24pt;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.edit-collection textarea {
  display: block;
  margin:  1em auto;
  width:   80%;
  height:  60vh;
}
.edit-collection button {
  display: block;
  margin: 8px auto;

  background-color: blue;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
  bordeR: none;
  border-radius: 8px;
  padding: 4pt 12pt;
}


#main > div { display: none; }
body.landing #main > div.landing,
body.loading #main > div.loading,
body.docs    #main > div.docs,
body.edit    #main > div.edit-collection,
body.search  #main > div.search,
body.login   #main > div.login  { display: block; }

body.login {
  background-size: cover;
}

.loading .loading h1 {
  font-size: 24pt;
  font-style: italic;
  text-align: left;
  width: 50vw;
  margin: 30vh auto 0em;
}
.loading .marquee {
  line-height: 1.25em;
  text-indent: -1ex;
  font-size: 18pt;
  font-style: italic;
  width: 50vw;
  color: #777;
  margin: 10vh auto;
}
.loading .marquee cite {
  display: block;
  text-align: right;
}


.oops {
  font-weight: normal;
  font-size: 12pt;

  display: none;
  border-radius: 4pt;
  padding: 1em 2em;
  margin: 1em auto;
  width: 90%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  background: firebrick;

}
.oops ul {
  padding: 1em;
  list-style: inside;
}
.oops ul li {
  line-height: 1.2em;
}
.oops ul li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
.oops ul li.suppress {
  display: none;
}


.prose {
  min-width: 50vw;
  max-width: 80vw;
  margin: 80px auto;
  font-family: sans-serif;
  font-size: 14pt;
  line-height: 1.4em;
}

.prose h1 {
  font-size: 24pt;
  font-weight: bold;
  margin: 3em 0 0.6em 0;
}
.prose h2 {
  font-size: 21pt;
  font-weight: bold;
  margin: 3em 0 0.6em 0;
}

.prose p {
  max-width: 40em;
  margin: 1.4em 0;
}

.prose em, .prose i { font-style: italic; }
.prose strong, .prose b { font-weight: bold; }

.docs kbd,
.docs pre code {
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  padding: 4px 8px;
}
.docs kbd {
  height: 1.2em;
  vertical-align: middle;
}
.docs pre code {
  padding: 1em;
  display: block;
  font-family: monospace;
}

.prose table thead th {
  font-weight: bold;
  color: #112;
  border-bottom: 1px solid #11112233;
  font-size: 90%;
  padding: 8px 32px 2px 8px;
  text-align: left;
}
.prose table tbody td {
  padding: 8px 8px 4px 8px;
}
.prose table tbody tr:nth-child(2n) {
  background-color: #00000008;
}
.prose table tbody tr:hover {
  background-color: #00000018;
}

.docs table.keywords tbody tr td:nth-child(1),
.docs table.shorthand tbody tr td:nth-child(1),
.docs table.shorthand tbody tr td:nth-child(2) {
  font-family: monospace;
  color: darkblue;
}
