html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**/

body .if-not-authed, body[data-user-id] .if-authed     { display: block; }
body .if-authed,     body[data-user-id] .if-not-authed { display: none; }

body {
  min-height: 100vh;
  position: relative;
}

/* for chrome */
button:focus, input:focus { outline: 0; }

.landing {
  margin: 5vh 10vw;
  padding-bottom: 3em;
  overflow: none;
  display: flex;
  flex-flow: row wrap;
}
.landing img {
  max-width: 700px;
  width: 100%;
}
.landing > div {
  width: 50%;
}
.landing > div:nth-child(2) {
  font-size: 16pt;
  line-height: 1.4em;
  padding: 8em 0 0 4em;
  box-sizing: border-box;
}
.landing div p {
  margin-bottom: 1em;
}
.landing div a {
  text-decoration: none;
  color: #0071bc;
  border-bottom: 1px dotted #0071bc;
}
.landing div strong {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 90%;
  padding: 2px 6px;
  background-image: url(/hili.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.landing div em {
  font-style: italic;
  font-weight: bold;
}
.landing div footer {
  position: absolute;
  bottom: 0;
  right: 2em;
  font-family: sans-serif;
  font-size: 10pt;
  opacity: 0.5;
}

.landing form {
  margin: 2em auto;
  max-width: 44ex;
}
.landing form div {
  margin: 1em;
  position: relative;
}
.landing form div a {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 11pt;
  border: none;
  line-height: 1.1em;
  visibility: hidden;
}
.landing form div:hover a {
  visibility: visible;
}
.landing form label {
  display: block;
  line-height: 1.333em;
  font-size: 10pt;
  font-family: sans-serif;
  text-transform: lowercase;
  font-weight: bold;
}
.landing form input {
  width: 100%;
  box-sizing: border-box;
  font-size: 24pt;
  padding: 0.3em;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  background-color: #fff;
  color: dodgerblue;
}
.landing form input:focus {
  background-color: dodgerblue;
  color: #fff;
}
.landing form button {
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 16pt;
  padding: 0.3em 0.9em;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}
.landing form button.safe {
  background-color: dodgerblue;
  color: #fff;
}
.landing form > div:last-child {
  display: flex;
  flex-flow: row-reverse;
}

header {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: space-between;

  box-shadow: 2px 3px 17px #000;
}
header h1 {
  padding: 16px;
  text-indent: -5000px;
  background-image: url(../vcb.png);
  background-size: cover;
  width: 160px;
  height: 73px;
  padding: 0;
  margin: 8px 0 0 16px;
}
header > nav {
  list-style: none;
  display: flex;
}
header > nav > li {
  align-self: flex-end;
}
header > nav > li:hover {
    background-color: forestgreen;
}
header > nav > li > a {
  display: block;
  padding: 16px;
}
header li nav {
  display: none;
  position: absolute;
  right: 0;
  background-color: #444;
  box-shadow: 5px 5px 5px #666;
}
header > nav > li:hover > nav {
  display: block;
  z-index: 500;
}
header nav a {
  text-decoration: none;
  color: inherit;
}
header nav li nav li.separator {
  height: 1px;
  background-color: #fff;
  margin: 8px 0;
  opacity: 0.4;
}
header nav li nav li a {
  padding: 12px 24px;
  display: block;
}
header nav li nav li:hover {
  background-color: #000;
  color: yellow;
}
header input {
  margin: 1em;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 8px;
  flex: auto;
  height: 1.2em;
  vertical-align: middle;
}
.meta-results {
  width: 97vw;
  margin: 16px auto;
  color: #777;
  font-style: italic;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  margin: 8px auto;
}
.grid.results > span {
  position: relative;
}
.grid.results > span .card {
  width: 18vw;
  height: 25.14vw;
  margin: 0.69vw;
  border-radius: 0.9vw; /* chop off some of the terrible backgrounds */
  overflow: hidden;
  display: inline-block;
}
.grid.results > span .card.face {
  transform: rotate(5deg);
  cursor: pointer;
  background-image: url(/mtgblank.jpg);
  background-size: cover;
}
.grid.results > span .back {
  position: absolute;
}
.grid.results > span[data-own="0"] .card.back img {
  visibility: hidden;
}
.grid.results .card img {
  width: 100%;
}
.grid.results .card a[rel=flip] {
  display: block;
  position: absolute;
  background-image: url(/flip.png);
  background-size: cover;
  background-color: #ffffffb3;
  border-radius: 100%;
  width: 17%;
  height: 12%;
  right: 3%;
  bottom: 8%;
}
.grid.results .card:hover a[rel=flip] {
  background-color: #ffff00b3;
}
.modal-bg,
.modal-fg {
  position: fixed;
  top: 0px; left: 0px; width: 100vw; height: 100vh;
  display: none;
}
.modal-bg {
  background-color: rgba(0,0,0, 0.7);
  z-index: 100;
}
.modal-fg {
  z-index: 110;
}
.modal-fg img {
  height: 80%;
  transform: rotate(5deg) translate(100px, 100px);
  border-radius: 4%; /* chop off some of the terrible backgrounds */
  border: 4px solid #fff;
  z-index: 5;
}
.modal-fg > div {
  background-color: #fff;
  display: block;
  position: fixed;
  box-sizing: border-box;
  top:  20vh; min-height: 60vh;
  left: 15vw; width:  70vw;
  z-index: 110;
  padding: 24px 24px 24px 35vw;
  border-radius: 12px;
}
.modal-fg a.close {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 100%;
  font-family: sans-serif;
  text-align: center;
  height: 32px;
  width: 32px;
  display: block;
  line-height: 34px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.modal-fg div h1 {
  font-size: 180%;
  font-family: sans-serif;
  font-weight: bold;
}
.modal-fg div.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -5;
}
.modal-fg .detail .where {
  flex-grow: 1;
  flex-basis: auto;
}
.modal-fg .detail .tags {
  display: flex;
  flex-flow: row wrap;
}

.modal-fg .detail {
  font-size: 14pt;
  font-family: sans-serif;
}
.modal-fg .detail ul {
  margin: 0 0 1em 0;
}

.modal-fg .detail .tags li {
  background-color: #ba1fba;
  border-radius: 4px;
  padding: 4px 8px;
  color: #fff;
  font-size: 90%;
  font-family: monospace;
  font-weight: bold;
  margin: 2px;
}
.modal-fg .detail .price {
  font-size: 48pt;
  align-self: flex-end;
  font-family: sans-serif;
  font-weight: bold;
  color: #888;
}
.modal-fg .detail em     { font-style:  italic; }
.modal-fg .detail strong { font-weight: bold; }
.modal-fg li p {
  margin: 8pt;
}

.modal-fg .price .w1,
.modal-fg .price .w2,
.modal-fg .price .w3 {
  font-style: italic;
  font-size: 9pt;
  display: block;
  text-align: right;
  opacity: 0.7;
}
.modal-fg .price .w1 { color: darkred; }
.modal-fg .price .w2 { color: #ba6c2a; }
.modal-fg .price .w3 { color: inherit; }


.edit-collection {
  padding: 5vh 10vw;
}
.edit-collection h2 {
  font-size: 24pt;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}
.edit-collection textarea {
  display: block;
  margin:  1em auto;
  width:   80%;
  height:  60vh;
}
.edit-collection button {
  display: block;
  margin: 8px auto;

  background-color: blue;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 4pt 12pt;
}

#main .loading h1 {
  font-size: 24pt;
  font-style: italic;
  text-align: left;
  width: 50vw;
  margin: 30vh auto 0em;
}
#main .loading .marquee {
  line-height: 1.25em;
  text-indent: -1ex;
  font-size: 18pt;
  font-style: italic;
  width: 50vw;
  color: #777;
  margin: 10vh auto;
}
#main .loading .marquee cite {
  display: block;
  text-align: right;
}


.oops {
  font-weight: normal;
  font-size: 12pt;

  border-radius: 4pt;
  padding: 1em 2em;
  margin: 1em auto;
  width: 90%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  background: firebrick;

}
.oops ul {
  padding: 1em;
  list-style: inside;
}
.oops ul li {
  line-height: 1.2em;
}
.oops ul li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
.oops ul li.suppress {
  display: none;
}


.prose {
  min-width: 50vw;
  max-width: 80vw;
  margin: 80px auto;
  font-family: sans-serif;
  font-size: 14pt;
  line-height: 1.4em;
}

.prose h1 {
  font-size: 24pt;
  font-weight: bold;
  margin: 3em 0 0.6em 0;
}
.prose h2 {
  font-size: 21pt;
  font-weight: bold;
  margin: 3em 0 0.6em 0;
}

.prose p {
  max-width: 40em;
  margin: 1.4em 0;
}

.prose em, .prose i { font-style: italic; }
.prose strong, .prose b { font-weight: bold; }

.docs kbd,
.docs pre code {
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  padding: 4px 8px;
}
.docs kbd {
  height: 1.2em;
  vertical-align: middle;
}
.docs pre code {
  padding: 1em;
  display: block;
  font-family: monospace;
}

.prose table thead th {
  font-weight: bold;
  color: #112;
  border-bottom: 1px solid #11112233;
  font-size: 90%;
  padding: 8px 32px 2px 8px;
  text-align: left;
}
.prose table tbody td {
  padding: 8px 8px 4px 8px;
}
.prose table tbody tr:nth-child(2n) {
  background-color: #00000008;
}
.prose table tbody tr:hover {
  background-color: #00000018;
}
.prose table tbody td a {
  color: #448;
  text-decoration: none;
  border-bottom: 1px dotted #888;
}

.docs table.keywords tbody tr td:nth-child(1),
.docs table.shorthand tbody tr td:nth-child(1),
.docs table.shorthand tbody tr td:nth-child(2) {
  font-family: monospace;
  color: darkblue;
}

table th.sortable {
  cursor: pointer;
}
table th.sortable.asc ::before,
table th.sortable.desc ::before {
  margin-left: 4px;
  content: "\25b4";
  display: inline-block;
  opacity: 0.4;
  font-size: 11pt;
}
table th.sortable.asc ::before {
  transform: rotate(180deg);
}

.sets table.sets {
  min-width: 80%;
}
.sets table.sets tbody tr td:nth-child(2) {
  font-size: 70%;
  color: #00000088;
}
.sets table td:first-child {
  text-align: center;
}


/*

   ########  ########  ######  ########   #######  ##    ##  ######  #### ##     ## ########
   ##     ## ##       ##    ## ##     ## ##     ## ###   ## ##    ##  ##  ##     ## ##
   ##     ## ##       ##       ##     ## ##     ## ####  ## ##        ##  ##     ## ##
   ########  ######    ######  ########  ##     ## ## ## ##  ######   ##  ##     ## ######
   ##   ##   ##             ## ##        ##     ## ##  ####       ##  ##   ##   ##  ##
   ##    ##  ##       ##    ## ##        ##     ## ##   ### ##    ##  ##    ## ##   ##
   ##     ## ########  ######  ##         #######  ##    ##  ######  ####    ###    ########

 */

@media only screen and (max-width: 1030px) {
  .landing {
    margin: 1em;
  }
  .landing > div:nth-child(2) {
    padding: 1em;
  }
}

@media only screen and (max-width: 720px) {
  header {
    flex-direction: column;
  }
  header h1 {
    height: 32px;
    width: 70px;
    margin: 16px 0 0 16px;
  }
  header input {
    margin: 12px;
  }
  header nav {
    display: none; /* FIXME: temporary */
  }

  .landing {
    flex-flow: column wrap;
    margin: 1em;
  }
  .landing.login {
    flex-direction: column-reverse;
  }
  .landing > div {
    width: 100%;
  }
  .landing div {
    padding: 0;
    margin: 1em 0 0 0;
  }

  .grid.results > span .card {
    width: 85vw;
    height: 118vw;
    margin: 5vw;
    border-radius: 3.9vw;
  }
  .grid.results > span .card.face {
    transform: rotate(0deg);
  }
  .grid.results > span .back {
    transform: rotate(-5deg);
  }

  .modal-fg > img {
    display: none;
  }
  .modal-fg > div {
    top:  5vh; height: 90vh;
    left: 5vw; width:  90vw;
    padding: none;
    padding: 12px;
  }
}
